
# service config

variable "master" { default = "{{ MASTER }}" }
variable "node" { default = "{{ NODE }}" }
variable "etcd" { default = "{{ ETCD }}" }
variable "rancher_url" { default = "{{ RANCHER_URL }}" }
variable "rancher_cluster_token" { default = "{{ RANCHER_CLUSTER_TOKEN }}" }
variable "automium_autoscaler_kubeconfig" { default = "{{ AUTOMIUM_AUTOSCALER_KUBECONFIG }}" }
variable "kube_conf" { default = <<EOF
{{ KUBE_CONF }}EOF
}
variable "host_filebeat_conf" { default = <<EOF
{{ FILEBEAT_CONF|default("host_filebeat_conf": "filebeat_conf:\n  output.elasticsearch:\n    hosts: [\"http://myelasticseach.mydomain.tld:9200\"]\nfilebeat_enable_modules:\n  - system\nfilebeat_enabled: true\nfilebeat_state: started") }}EOF
}
