[Global]
auth-url="{{ os_auth_url }}"
username="{{ os_user_name }}"
password="{{ os_password }}"
region="{{ os_region }}"
tenant-id="{{ os_tenant_id }}"
tenant-name="{{ os_tenant_name }}"

[BlockStorage]
ignore-volume-az=True
