---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ ansible_default_ipv4.address }}
  bindPort: 6443
{% if ( provider != "vcd" and provider != "none") %}
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: "{{ cloud_provider }}"
    cloud-config: "/etc/kubernetes/cloud.conf"
{% if kubeadm_custom_row.kubeletExtraArgs is defined %}
{{ kubeadm_custom_row.kubeletExtraArgs | to_nice_yaml| indent(4, true) }}
{% endif %}
{% endif %}
{% if kubeadm_custom_row.InitConfiguration is defined %}
{{ kubeadm_custom_row.InitConfiguration | to_nice_yaml}}
{% endif %}
---
apiVersion: kubeadm.k8s.io/v1beta2
clusterName: {{ cluster_name }}
kind: ClusterConfiguration
controlPlaneEndpoint: {{ cluster_name }}-kube-apiserver.service.automium.consul:6443
kubernetesVersion: v{{ k8s_version }}
networking:
  dnsDomain: cluster.local
  serviceSubnet: {{ calico_pool_cidr_serviceSubnet }}
  podSubnet: {{ calico_pool_cidr_podSubnet }}
{% if ( provider != "vcd" and provider != "none") %}
{% if kubeadm_custom_row.ClusterConfiguration is defined %}
{{ kubeadm_custom_row.ClusterConfiguration | to_nice_yaml}}
{% endif %}
apiServer:
  extraArgs:
    cloud-provider: {{ cloud_provider }}
    cloud-config: "/etc/kubernetes/cloud.conf"
    anonymous-auth: "True"
    authorization-mode: Node,RBAC
    bind-address: 0.0.0.0
    insecure-port: "0"
    enable-admission-plugins: ServiceAccount
    apiserver-count: "1"
    endpoint-reconciler-type: lease
    service-node-port-range: 30000-32767
    kubelet-preferred-address-types: "InternalDNS,InternalIP,Hostname,ExternalDNS,ExternalIP"
    profiling: "False"
    request-timeout: "1m0s"
    enable-aggregator-routing: "False"
    storage-backend: etcd3
    runtime-config:
    allow-privileged: "true"
    audit-log-path: "/var/log/audit/kube-apiserver-audit.log"
    audit-policy-file: "/etc/kubernetes/audit-policy.yaml"
    audit-log-maxage: "30"
    audit-log-maxbackup: "10"
    audit-log-maxsize: "100"
    tls-cipher-suites: "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256"
    feature-gates: RotateKubeletServerCertificate=true
{% if kubeadm_custom_row.apiServer is defined and kubeadm_custom_row.apiServer.extraArgs is defined  %}
{{ kubeadm_custom_row.apiServer.extraArgs | to_nice_yaml |indent(4, true) }}
{% endif %}
  extraVolumes:
  - name: cloud
    hostPath: "/etc/kubernetes/cloud.conf"
    mountPath: "/etc/kubernetes/cloud.conf"
  - name: apiserver-audit-log
    hostPath: "/var/log/audit/"
    mountPath: "/var/log/audit/"
  - hostPath: "/etc/kubernetes/audit-policy.yaml"
    mountPath: "/etc/kubernetes/audit-policy.yaml"
    name: audit-policy
{% if kubeadm_custom_row.apiServer is defined and kubeadm_custom_row.apiServer.extraVolumes is defined %}
{{ kubeadm_custom_row.apiServer.extraVolumes | to_nice_yaml |indent(4, true) }}
{% endif %}
controllerManager:
  extraArgs:
    cloud-provider: {{ cloud_provider }}
    cloud-config: "/etc/kubernetes/cloud.conf"
    terminated-pod-gc-threshold: "10"
    profiling: "False"
{% if kubeadm_custom_row.controllerManager is defined and kubeadm_custom_row.controllerManager.extraArgs is defined %}
{{ kubeadm_custom_row.controllerManager.extraArgs | to_nice_yaml|indent(4, true) }}
{% endif %}
  extraVolumes:
  - name: cloud
    hostPath: "/etc/kubernetes/cloud.conf"
    mountPath: "/etc/kubernetes/cloud.conf"
{% if kubeadm_custom_row.controllerManager is defined and kubeadm_custom_row.controllerManager.extraVolumes is defined %}
{{ kubeadm_custom_row.controllerManager.extraVolumes | to_nice_yaml|indent(4, true) }}
{% endif %}
scheduler:
  extraArgs:
    profiling: "False"
{% if kubeadm_custom_row.scheduler is defined and kubeadm_custom_row.scheduler.extraArgs is defined %}
{{ kubeadm_custom_row.scheduler.extraArgs | to_nice_yaml|indent(4, true) }}
{% endif %}
{% endif %}
etcd:
  local:
    serverCertSANs:
      - 127.0.0.1
      - localhost
      - {{ ansible_default_ipv4['address'] }}
      - {{ ansible_hostname }}
      - {{ cluster_name }}-etcd.service.automium.consul
    peerCertSANs:
      - 127.0.0.1
      - localhost
      - {{ ansible_default_ipv4['address'] }}
      - {{ ansible_hostname }}
      - {{ cluster_name }}-etcd.service.automium.consul
{% if testmode == "true" %}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
conntrack:
  maxPerCore: 0
{% endif %}
