---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ cluster_name }}-kube-apiserver.service.automium.consul:6443
    token: {{ kubeadm_join_token.stdout }}
    unsafeSkipCAVerification: true
nodeRegistration:
  kubeletExtraArgs:
    node-labels: "nodepool={{ pool_name }}"
{% if provider != "none" %}
    cloud-provider: "openstack"
    cloud-config: "/etc/kubernetes/cloud.conf"
{% endif %}
{% if testmode == "true" %}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
conntrack:
  maxPerCore: 0
{% endif %}