---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ ansible_default_ipv4.address }}
  bindPort: 6443
{% if provider != "none" %}
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: "openstack"
    cloud-config: "/etc/kubernetes/cloud.conf"
{% endif %}
---
apiVersion: kubeadm.k8s.io/v1beta2
clusterName: {{ cluster_name }}
kind: ClusterConfiguration
controlPlaneEndpoint: {{ cluster_name }}-kube-apiserver.service.automium.consul:6443
kubernetesVersion: v{{ k8s_version }}
networking:
  serviceSubnet: {{ calico_pool_cidr }}
{% if provider != "none" %}
apiServer:
  extraArgs:
    cloud-provider: {{ cloud_provider }}
    cloud-config: "/etc/kubernetes/cloud.conf"
  extraVolumes:
  - name: cloud
    hostPath: "/etc/kubernetes/cloud.conf"
    mountPath: "/etc/kubernetes/cloud.conf"
controllerManager:
  extraArgs:
    cloud-provider: {{ cloud_provider }}
    cloud-config: "/etc/kubernetes/cloud.conf"
  extraVolumes:
  - name: cloud
    hostPath: "/etc/kubernetes/cloud.conf"
    mountPath: "/etc/kubernetes/cloud.conf"
{% endif %}
etcd:
  local:
  serverCertSANs:
    - 127.0.0.1
    - localhost
    - {{ ansible_default_ipv4['address'] }}
    - {{ ansible_hostname }}
    - {{ cluster_name }}-etcd.service.automium.consul
{% if testmode == "true" %}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
conntrack:
  maxPerCore: 0
{% endif %}
