---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ cluster_name }}-kube-apiserver.service.automium.consul:6443
    token: {{ kubeadm_token.stdout_lines[0] }}
    unsafeSkipCAVerification: true
{% if ( provider != "vcd" and provider != "none") %}
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: "{{ provider }}"
    cloud-config: "/etc/kubernetes/cloud.conf"
{% if kubeadm_custom_row.kubeletExtraArgs is defined %}
{{ kubeadm_custom_row.kubeletExtraArgs | to_nice_yaml| indent(4, true) }}
{% endif %}
{% endif %}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ ansible_default_ipv4.address }}
    bindPort: 6443
  certificateKey: {{ kubeadm_certficate_key.stdout_lines[2] }}
