# /etc/systemd/system/kubernetes-drain.service

[Unit]
Description=Drain worker %H in cluster
Before=halt.target shutdown.target poweroff.target reboot.target
Requires=network.target
After=network.target docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=-/usr/local/bin/kubernetes-scripts/kubernetes-maintenance kubectl_drain
ExecStopPost=/usr/local/bin/kubernetes-scripts/kubernetes-maintenance kubectl_delete
TimeoutStopSec=120

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kubernetes-service

[Install]
WantedBy=multi-user.target
