[Unit]
Description=Remove worker %H from cluster
Before=docker.service halt.target shutdown.target

[Service]
ExecStart=/bin/true
ExecStop=/usr/local/bin/kubernetes-scripts/worker-node-cordon
RemainAfterExit=yes
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kubernetes-service

[Install]
WantedBy=multi-user.target
